* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(238, 227, 227, 0.829);
    background-color: #151529;
}
body {
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
}
#outerbox {
    height: 425px;
    width: 325px;
    border: 3px solid rgb(249, 220, 220);
    border-radius: 20px;
    margin: 1px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}
#login {
    border: none;
    font-size: 40px;
    font-weight: 200px;
}
#email, #username, #phone, #pass{
    height: 50px;
    width: 90%;
    border-bottom: 2px solid white;
    border-radius: 20px;
}
/* #pass {
    height: 50px;
    width: 90%;
    border-bottom: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
#forgot {
    height: 20px;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#button {
    height: 50px;
    width: 80%;
    font-size: larger;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    /* color: black; */
    background: transparent;
    cursor: pointer;
}
#msg {
    height: 50px;
    width: 90%;
    border: none;
    text-align: center;
}
#utex, #etex, #ntex, #ptex {
    background: transparent;
    /* width: fit-content; */
    margin-left: 4%;
    width: 90%;
    height: 60%;
    /* height: fit-content; */
    border: none;
    /* border: 2px solid red; */
    /* border-radius: 12%; */
}
