* {
    color: white;
}
body {
    background-color: #151529;
   
}

#dashboard-header {
    height: 550px;
    width: 100%;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
}
#side-dashboard {
    height: 90%;
    width: 90%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
   
}
#web-name {
    height: 40px;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 40px;
}
#logo {
    height: 30px;
    width: 30px;
}
#options {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.menu-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 20px;
    text-decoration: solid;
}
#body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#dashboard-body {
    width: 140%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
#user-profile {
    font-size: 20px;
    
}
#goal {
    font-size: 20px;
   
}
#goal:hover {
    border: 1px solid white;
    border-radius: 10px;
}
#user-profile:hover {
    border: 1px solid white;
    border-radius: 10px;
}
#reward {
    font-size: 20px;
}
#reward:hover {
    border: 1px solid white;
    border-radius: 10px;
}
#choose {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}
.entrance {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.entrance:hover {
    box-shadow: 5px 5px 0px ; 
}
img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

